<mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
        <h2>Registrate</h2>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Nombres" formControlName="name" required>
            <mat-error>
              El Nombre es requerido
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Apellidos" formControlName="surnames" required>
            <mat-error>
              Los apellidos es requerido
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Número de celular" formControlName="telephono" required>
            <mat-error>
              El número de celular es requerido
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput placeholder="Dirección" formControlName="direction" required>
            <mat-error>
             La dirección es requerida
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="correo" required>
          <mat-error>
            El Correo es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            El Password es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="verifica tu password" formControlName="passwordrepeat" required>
            <mat-error>
              El Password es requerido
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="form.invalid">Registrarse</button>
      </form>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </mat-card-content>
</mat-card>